{%extends 'base.html'%}
{%block body_block%}


    <div class="container mt-5">
        <h3 style="color:green">Books Orders</h3>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 border mt-5" style="background-color:">
                
                <table class="table">
                    <tr>
                        <th>Book Name</th>
                        <th>Category</th>
                        <th>User</th>
                        <th>Created_Date</th>
                        <th>Action</th>
                    </tr>
                    {%for order in orders%}
                        <tr>
                            <td>{{order.book.book_name}}</td>
                            <td>{{order.book.category.category_name}}</td>
                            <td>{{order.user}}</td>
                            <td>{{order.created_date}}</td>
                            <td>
                                <a style="color: green" href="#">View</a>
                            </td>
                        </tr>
                    {%endfor%}

                </table>
            </div>
            <div class="col-4"></div>
        </div>
    </div>

{%endblock%}